@import "tailwindcss";

@theme {
  --color-primary: #141828;
  --color-secondary: #1d2438;
  --color-neutral: #2b5cfd;

  --color-primary-txt: #ffffff;
  --color-secondary-txt: #a0aec0;

  --color-border-primary: #e0e0e0;
  --color-border-secondary: #e5e5e5;
}

body {
  @apply text-primary-txt;
}
